.dasboard-logo {
    text-align: center;
    width: 100%;
}

.active{
    background-color: grey !important;
    color: white !important;
    font-weight: 500;
}

.item-icon{
    color : red !important;
}

.active-icon{
    color : white !important;
}